@using WTExpCalc.Models
@using WTExpCalc.Services
@using WTExpCalc.Shared
@inject IExperienceApi Api
@inject NavigationManager Nav
@* 
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu"> *@
    <nav class="flex-column">
        @if (nations == null)
        {
            <div class="nav-item px-1 py-2 text-center">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </div>
        }
        else
        {
            @foreach (var nation in nations)
            {
                <div class="nav-item">
                    <NavLink class="nav-link py-2 px-0 d-flex justify-content-center align-items-center"
                             href="@($"/tree/{nation.Id}")"
                             Match="NavLinkMatch.Prefix"
                             title="@FormattingUtils.FormatNationName(nation.Name, nation.Id)">
                        <img src="@nation.ImageUrl"
                             alt="@FormattingUtils.FormatNationName(nation.Name, nation.Id)" class="nation-flag-icon" />
                    </NavLink>
                </div>
            }
        }
    </nav>
    @* </div> *@

@code {

    private List<Nation>? nations;

    protected override async Task OnInitializedAsync()
    {
        nations = await Api.GetNationsAsync();
    }
}